doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title JC - FCC Voting App
    link(type="text/css" rel="stylesheet" href="/libs/materialize/dist/css/materialize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="/css/styles.css")
  body
    include header
    main
      .container
        block body
    include footer
    script(type="text/javascript" src="/libs/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="/libs/materialize/dist/js/materialize.min.js")
    script(type="text/javascript" src="/libs/chart.js/dist/Chart.js")
    script(type="text/javascript" src="/js/scripts.js")
