header
  nav.blue-grey
    .nav-wrapper.container

      a.brand-logo(href="/")
        | Votely
      a.button-collapse(href="#" data-activates="mobile-demo")
        i.material-icons
          | menu

      ul#nav-mobile.login.right.hide-on-med-and-down
        if (user)
          li
            a(href="/account")
              | Account
          li
            a(href="/logout")
              | Logout
        else
          li
            a(href="/register")
              | Register
          li
            a.btn.light-blue(href="/login")
              | Login

      ul#mobile-demo.side-nav
        if (user)
          li
            a(href="/account")
              | Account
          li
            a(href="/logout")
              | Logout
        else
          li
            a(href="/register")
              | Register
          li
            a.btn.light-blue(href="/login")
              | Login
