header
  .container
    .brand
      a(href="/")
        h1 Votely
        img(src="")

    .login
      if (user)
        a(href="/logout")
          | Logout
      else
        a.btn(href="/login")
          | Login
        a(href="/register")
          | Register
