body {
  background-color: #f1f5f8;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

ul.inner-side-nav {
  margin-top: 1.78rem;
  padding: 10px;
}

ul.inner-side-nav li {
  border-bottom: 1px solid #e3e3e3;
  padding: 8px 0;
}

ul.inner-side-nav li a {
  color: #000;
}

ul.inner-side-nav li a:hover {
  color: #039be5;
}

ul.inner-side-nav li a i {
  margin-right: 10px;
  margin-bottom: 2px;
  vertical-align: middle;
}

.warning {
  margin-bottom: 40px;
}

.warning .material-icons {
  margin-top: -4px;
  margin-right: 4px;
  vertical-align: middle;
}