extends ../base

block append body

  .row
    aside.col.s3
      ul.inner-side-nav
        li
          a(href="/create-poll")
            | Create New Poll
        li
          a(href="/view-polls")
            | View My Polls

    .col.s9
      h2.header Active Polls

      if (!userPolls.length) 
        p It doesn't look like you have any polls yet. Get started by 
          a(href="/create-poll")
            | creating a new poll
          |.      
      else
        each poll in userPolls
          .card-panel.white
            h5 #{poll.pollTitle}
            each option in poll.pollOptions
              p #{option.title} - #{option.votes}