extends ../base

block append body
  .jumbtron
    h2.header.center Start Voting
    if (user)
      ul
        li #{user.firstName}
        li #{user.lastName}
        li #{user.email}

  .random-poll
    p Random Poll to Load Here
