aside.col.s3
  ul.inner-side-nav
    li
      a(href="/create-poll")
        i.material-icons(aria-hidden="true")
          | mode_edit
        | Create New Poll
    li
      a(href="/")
        i.material-icons(aria-hidden="true")
          | view_list
        | View My Polls